.writing{
    padding: 20px;
    margin-left: 100px;
    font-weight: 800;
    letter-spacing: -0.5px;
    color: #222;
    font-size: 36px;
    line-height: 50px;
}

.cheer{
    padding: 20px;
    margin-left: 180px;
    font-size: 23px;
    margin-top: 0;
    margin-bottom: 2px;
    letter-spacing: 0.8px;
    line-height: 32px;

}
.para1{
    margin-left: 200px;
    margin-top: 14px;
    font-size: 14px;
    line-height: 26px;
}
.line{
     margin-left: 100px;
    width: 900px;
}
.bakers{
    display: flex;
    justify-content: center;
}
img{
    max-width:100%;
    height: auto;
}
