.envato{
    background: url("../Navbar/nav\ logo.svg");
    display: inline-block;
    position: absolute;
    top: 18px;
    text-indent: -9999px;
    height: 18px;
    width: 152px;
    background-size: 152px 18px;
}
