.footer{
    border-top-color: grey;
    
}
h4{
    margin-top: -4px;
    margin-bottom: 19px;
    border-radius: 30px;
    font-size: 15px;
    position: relative;
}
.para3{
    font-size: 14px;
    line-height: 23px;
    color: #666;
}